#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  /* box-sizing: border-box; */
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.menu {
  display: none !important ;
}
.link {
  padding: 10px 20px;
  text-decoration: none !important;
}
.link:hover {
  background-color: grey;
  color: white;
}
.skills img:hover {
  cursor: pointer !important;
}
.skills img {
  border: solid 2px white;
}

.input {
  margin-bottom: 20px;
}
.button {
  margin-top: 20px;
}
.buttonsCards {
  text-decoration: none !important;
}
.labelTexarea {
  /* border: solid 2px white !important; */
  /* top: !important; */
  position: relative;
  bottom: 60px;
  margin-right: 10px;
}
.label {
  margin-right: 10px;
}

.imgArrow {
  margin-bottom: 20px;
}
.imgArrow:hover {
  padding: 0;
  border: 2px solid blue;
  border-radius: 50%;
}
.require {
  margin-top: -20px;
  color: red;
}
.texarea {
  height: 70px;
}
.buttonTheme {
  display: none !important;
}

/* ***************** MEDIA QUERIES ******************************* */

/* @media (max-width: 572px) { */
@media (max-width: 520px) {
  .navBar {
    display: none !important;
    flex-direction: column;
  }
  .buttonTheme {
    width: 3.5rem !important;
    display: flex !important;
    margin-bottom: 40px;
    /* border: solid 2px white; */
  }
  .containerGral {
    /* background-color: #1a202c; */
  }
  .menu {
    display: flex !important;
  }

  .containerPrincip {
    padding: 2rem;
    width: 100% !important;
    /* border: solid 2px white; */
  }
  .sobre {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .imgPerfil {
    width: 45% !important;
  }
  .titleSkills {
    margin-bottom: 60px !important;
  }
  .imgArrow {
    /* fill: white !important;
    color: white !important; */
    background-color: blue;
    border-radius: 50%;
    width: 80%;
  }

  .arrow {
    position: fixed !important;
    top: 800px !important;
    left: 430px !important;
    width: 20% !important;
    height: 10% !important;
    /* border: solid 2px white; */
    /* color: blanchedalmond !important; */
  }
}
